.content_setting {
  overflow-y: visible;
  opacity: 0.8;
  padding-top: 32px;
}

.title {
  padding: 2px;
  font-size: 26px;
  margin: 0px;
  color: var(--tableTitle-color-7699bb);
}

.stress_line {
  padding: 5px 10vw 0px 30vw;
  width: 40%;
}

.border_line {
  border-top: 2px solid var(--tableTwo-color-d9def0);
  box-shadow: 1px 5px 5px 1px var(--boxShadowOne-color-a3bfd9);
  border-radius: 90%;
}

.tableAction {
  padding: 20px 20px 20px 0;
  gap: 10px;
}

.button {
  margin-right: 15px;
}

.table {
  box-shadow: 2px 2px 2px 2px var(--boxShadowTwo-color-a3bfd9);
  border-radius: 20px !important;
}

.table_row {
  box-shadow: 1px 15px 15px 10px var(--boxShadowOne-color-a3bfd9);
  border-radius: 5px !important;
  background: rgb(224, 223, 223);
  background: rgba(243, 243, 243, 0.2);
opacity:  unset;
}

.tooltip:hover::after {
  background: rgb(2, 2, 2);
  background: rgba(241, 240, 240, 0.521); /* Black background with 0.5 opacity */
  border-radius: 6px;
  bottom: -6x;
  display: block;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 86%;
}

.hiden1{
  visibility: hidden;
}

.hiden2{
  visibility: hidden;
}

.table_header {
  box-shadow: 1px 8px 10px 10px var(--boxShadowOne-color-a3bfd9);
  border-radius: 5px !important;
  background: rgb(240, 233, 233);
  background: rgba(230, 230, 230, 0.9); /* Black background with 0.5 opacity */
}

.page_setting{
  overflow-y: auto;
  padding:0 20vw 10% 20vw;
  height: 100%;
}

mat-icon {
  transform: scale(0.7);
  height: 100%;
}

mat-form-field {
  transform: scale(0.8);
}

.input {
  height: 40px;
  line-height: 28px;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  background-color:#FDFDFD;
  color: #0d0c22;
  box-shadow: 0 0 5px #676768, 0 0 0 10px #DEE2E6;
  transition: .3s ease;
  text-align: center;
}