<form [formGroup]="popUpForm!" class="container flex justify-center items-center">
  <section class="flex flex-row items-center w-3/5">
      <div class="align-middle w-40 justify-start">
        <span class="text-gray-500 text-3xl">{{ label }}</span>
      </div>
      <mat-form-field appearance="outline" class="w-28 h-4" [style.background-color]="'#EFF1F3'" [style.height]="'55px'">
        <input
          matInput
          [type]="inputType"
          [formControlName]="controlType"
          [style.background-color]="'#EFF1F3'"
          class="text-center"
        />
      </mat-form-field>
  </section>
</form>
<div class="flex justify-end">
  <mat-dialog-actions style="justify-content: end">
    <button mat-button mat-dialog-close>Cancel</button>

    <button mat-button (click)="save()" [disabled]="!popUpForm?.dirty">Save</button>
  </mat-dialog-actions>
</div>
